h1 {
	text-align: center;
        margin: auto;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;	
}
a {
        color: black;
        margin-right: 20px;
        margin-left: 20px;
}