form {
	color: black;
	text-align: center;
        margin: auto;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;	
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	visibility: hidden;
}