* {
	margin: auto;
}

h1 {
	text-align: center;
	margin-right: 10%;
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 10px;	
}

table {
	color: black;
	text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;	
}

a {
	margin-top: 20px;
}